.bash_history
.bash_logout
.bashrc
.cache/
.kiauh.ini
.local/
.mkshrc
.moonraker_database/
.profile
.ssh/
.viminfo
.wget-hsts
gcode_files/
kiauh-backups/
kiauh/
klipper/
klipper_logs/
mainsail/
mjpg-streamer/
moonraker-timelapse/
moonraker/
*.bkp
klipper_config/mainsail.cfg
klipper_config/moonraker.conf
klipper_config/timelapse.cfg
klipper_config/webcam.txt
